body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#chat {
    display: flex;
    border: 2px black solid;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    width: 80%;
    max-width: 80%;
    flex-direction: column;
    text-align: center;
}

label {
    display: flex;
    justify-content: flex-start;
}

#chat hr {
    border: none;
    border-top: 2px solid #000;
    margin: 10px 0;
}
form {
    width: 60%;
    max-width: 60;
}
#chat_input {
    width: 60%;
    max-width: 60%;
}