<!DOCTYPE html>
    <head>
        <title>Ollama_Web</title>
    </head>
    <body>
        <h1>Ollama_Web</h1>
        <hr>
        <div id="chat">
            <label id="chat-bot"></label>
        </div>
        <form id="user-input">
            <input type="text" id="chat-input" placeholder="Insert text....">
            <button type="button">Send</button>
        </form>
    </body>

</html>